:root {
    --lightest-blue: #def0f7;
    --light-blue: #449DD1;
    --mid-blue: #192BC2;
    --dark-blue: #150578;
    --darkest-blue: #0E0E52;
}

.sidebar-left {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */

  background-color: var(--darkest-blue); /*Black */
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: var(--lightest-blue);
}

.sidebar-left h1 {
    color: var(--lightest-blue);
    font-family: "Monoton";
}

.sidebar {
    font-family:"Comfortaa";
}

ul {
    list-style: none;
}
#submit {
    width:100%;
}
#search-history {
    text-align: center;
}
li:hover {
    color: white;
    transition: 1s;
}

.secondary-button {
    width: 65%;
}

main {
    margin-left: 20rem;/* Same as the width of the sidebar */
    padding: 0rem 1rem;
    height:80%;
    background-color: var(--lightest-blue);
    background-image: linear-gradient(to bottom, rgba(255,255,255,255), rgba(0,0,0,0));
    font-family: "Comfortaa";
}

main header {
margin: 1rem;
padding: 3rem;
text-align: center;
font-size: large;

}


.secondary-button {
    background-color: var(--mid-blue);
    border: none;
}

.upperCard {
    border: solid 1px var(--darkest-blue);
    
    /* display:flex; */
}

.card-header {
    display:block;
    font-family:"Comfortaa";
    /* Added font for body */
}

.card-body {
    display:flex; 
    justify-content: space-evenly;
    /* Added flex to the card-body div for flex */
}

.lowerCard {
    border: solid 1px var(--darkest-blue);
}

.modal-head {
    background-color:var(--dark-blue);
    color: white;
    font-weight: bold;
}

.moveDiv {
    display:flex; 
}
.ui-widget-content {
    background-color: aliceblue;
}

.ui-datepicker-year{
    display:none;
}

@media screen and (max-width: 1400px) {
    .card-body {
        width:100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        position: relative;
  
    }
    .card-header {
        justify-content: center;
        display: flex;
        text-align: center;
    }

    @keyframes flexanimation { 
        100% { 
          flex-wrap: wrap ;
        }
    }
}
